*{
    margin: 0;
    padding: 0;
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #4F85A6;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #4F85A6;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}

.menu-content ul {
    padding-top: 5%;
    line-height: 110px;
    letter-spacing: 0.1em;
    text-align: center;
}

.menu-content ul li {
    list-style: none;
}

.menu-content ul li a {
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    color:#ffffff;
    text-decoration: none;
    position: relative;
}

.menu-content ul li span{
    font-size: 20px;
    position: absolute;
    margin-top: -80px;
    margin-left: -34px;
    text-align: center;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #4F85A6;
    transition: all 0.5s;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;
}

.follow-us{
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-us p{
    font-size: 24px;
    font-family: 'Teko', sans-serif;
    color:#ffffff;
    margin-right: 50px;
    letter-spacing: 0.1em;
}

.follow-us img{
    margin-right: 30px;
}

.follow-insta img{
    width: 3vw;
}

.follow-youtube img{
    width: 6vw;
}

/* ファーストビュー */
.top-page{
    animation: bgchange 20s ease infinite;
    width: 100%;
    height: 100%;
    background-size: cover;
}

@keyframes bgchange {
    0% {background-image: url(images/fv-1.jpg)}
    25% {background-image: url(images/fv-1.jpg)}
    50% {background-image: url(images/fv-2.jpg)}
    75% {background-image: url(images/fv-3.jpg)}
    100% {background-image: url(images/fv-4.jpg)}
}

.main-logo img{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 45%;
}

.sub-logo-1 img{
    opacity: 0.1;
    width: 45%;
    height: 30%;
}

.sub-logo-2 img{
    opacity: 0.1;
    width: 45%;
    height: 30%;
}

.sub-logo-3 img{
    opacity: 0.1;
    width: 45%;
    height: 30%;
}

/* About Shuffle */

#about{
    height: auto;
    width: 100%;
}

.about-box{
    display: flex;
    width: 100%;
}

.about-title{
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #4F85A6;
    letter-spacing: 0.1em;
    text-align: center;
    font-style: italic;
    padding: 60px;
}

.about-slogan{
    font-family: 'Teko', sans-serif;
    letter-spacing: 0.3em;
    border-bottom: 10px solid rgba(79, 133, 166, 0.8);
    width: 50%;
    font-style: italic;
    font-size: 42px;
    margin-left: 100px;
}

.about-text{
    font-size: 18px;
    margin: 30px 100px;
    line-height: 40px;
}

.about-text span{
    font-size: 24px;
}

.about-img-box{
    position: relative;
    top: 10vh;
    left: 5%;
}

.about-img-square{
    width: 30vw;
    height: 20vw;
    background-color: #4F85A6;
    margin-left: 100px;
    position: absolute;
    top: 10%;
}

.about-img img{
    width: 30vw;
    position: absolute;
    left: 50px;
}

/* Summer Activities */
#sum-activities{
    height: auto;
    background-color: #4F85A6;
    padding-bottom: 5%;
}

.sum-activities-title-box{
    position: relative;
}

.sum-activities-title{
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    font-style: italic;
    padding: 60px;
}

.sum-activities-sub-title{
    font-family: 'Teko', sans-serif;
    font-size: 200px;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    font-style: italic;
    padding: 60px;
    opacity: 0.3;
    letter-spacing: 0.1em;
    position: absolute;
    top: -70px;
    left: 25%;
}

.images{
    margin: 0 auto;
    padding: 50px 0px;
    width: 60%;
}

.image{
    float: left;
}

.image img{
    width: 30vw;
    height: 600px;
}

.sum-activities-text{
    text-align: center;
    background-color: #fff;
    width: 60vw;
    height: 600px;
}

.sum-activities-text h3{
    font-size: 40px;
    color: #4F85A6;
    padding-top: 50px;
    display: flex;
    margin-left: 40vw;
}

.sum-activities-text p{
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.1em;
    margin-top: 10vh;
    margin-left: 30vw;
}

.prev-arrow{
    width: 100px;
    height: 100px;
    transform: rotate(180deg);
    margin-left: -150px;
    position: absolute;
    top: 300px;
    color: #fff;
}

.next-arrow{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 300px;
    left: 1050px;
}

/* Winter Activities */
#win-activities{
    height: auto;
    background-image: url(/images/haikei.png);
}

.win-activities-title-box{
    position: relative;
}

.win-activities-title{
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #4F85A6;
    letter-spacing: 0.1em;
    text-align: center;
    font-style: italic;
    padding: 60px;
}

.win-activities-sub-title{
    font-family: 'Teko', sans-serif;
    font-size: 200px;
    color: #4F85A6;
    letter-spacing: 0.1em;
    text-align: center;
    font-style: italic;
    padding: 60px;
    opacity: 0.3;
    letter-spacing: 0.1em;
    position: absolute;
    top: -70px;
    left: 25%;
}

.win-right{
    display: flex;
    justify-content: center;
    padding: 60px;
}

.win-left{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 60px;
}

.win-right-image img{
    width: 30vw;
    height: 35vh;
    border-right: 2px solid #4F85A6;
    padding-right: 50px;
    position: relative;
    top: -50px;
    left: -50px;
}

.win-left-image img{
    width: 30vw;
    height: 35vh;
    border-left: 2px solid #4F85A6;
    padding-left: 50px;
    position: relative;
    top: -50px;
    left: 50px;
}

.win-right-text-box{
    width: 30vw;
    height: 35vh;
    background-color: #4F85A6;
}

.win-left-text-box{
    width: 30vw;
    height: 35vh;
    background-color: #4F85A6;
}

.win-right-text-box h3{
    color: #fff;
    font-size: 30px;
    margin: 30px 60px;
}

.win-right-text-box p{
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    line-height: 30px;
    letter-spacing: 0.1em;
}

.win-left-text-box h3{
    color: #fff;
    font-size: 30px;
    margin: 30px 80px;
}

.win-left-text-box p{
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin-left: 40px;
}

.win-right-number{
    writing-mode: vertical-rl;
    font-size: 32px;
    font-weight: bold;
    color: #4F85A6;
    position: relative;
    top: 290px;
    right: 78px;
}

.win-left-number{
    transform:rotate(270deg); 
    font-size: 32px;
    font-weight: bold;
    color: #4F85A6;
    position: relative;
    top: 150px;
    left: 200px;
}

/* Season Movie */
#season-movie{
    height: auto;
    background-color: #4F85A6;
    padding-top: 5%;
}

.season-movie-title-box{
    position: relative;
}

.season-movie-title{
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #fff;
    letter-spacing: 0.1em;
    line-height: 70px;
    text-align: center;
    font-style: italic;
    padding: 60px;
}

.season-movie-image img{
    text-align: center;
    opacity: 0.3;
    position: absolute;
    top: -5%;
    left: 25%;
    width: 50%;
}

.movie{
    text-align: center;
}

.season-movie-movie{
    width: 50vw;
    height: 50vh;
    margin-top: 3%;
}

.past-btn{
    text-align: center;
    padding: 90px;
}

.past-btn a{
    padding: 30px 100px;
    background-color: #fff;
    color: #4F85A6;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}

.past-btn a:hover{
    padding: 35px 110px;
    transition: 0.5s;
}

/* Boast Point */
#boast-point{
    height: auto;
}

.boast-point{
    padding-bottom: 50px;
}

.boast-point-title{
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #4F85A6;
    letter-spacing: 0.1em;
    text-align: center;
    font-style: italic;
    padding: 60px;
}

.boast-point-title span{
    font-size: 90px;
}

.boast-point-1{
    display: flex;
    justify-content: center;
}

.cowday-movie{
    width: 500px;
    height: 300px;
}

.boast-point-1-text-title{
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid #000;
    width: 30vw;
    padding-bottom: 30px;
}

.boast-point-1-number{
    font-size: 150px;
    letter-spacing: 0.1em;
    font-family: 'Teko', sans-serif;
    color: #4F85A6;
    opacity: 0.5;
    position: relative;
    left: 370px;
    top: -170px;
    width: 100px;
}

.boast-point-1-text-body{
    font-size: 18px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -150px;
}

.boast-point-2{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.boast-point-2-image img{
    width: 500px;
    height: 300px;
}

.boast-point-2-text-title{
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid #000;
    width: 30vw;
    padding-bottom: 30px;
}

.boast-point-2-text-body{
    font-size: 18px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -150px;
}

.boast-point-2-number{
    font-size: 150px;
    letter-spacing: 0.1em;
    font-family: 'Teko', sans-serif;
    color: #4F85A6;
    opacity: 0.5;
    position: relative;
    left: 50px;
    top: -170px;
    width: 100px;
}

/* Join Shuffle */
#join{
    height: auto;
    background-color: #4F85A6;
    padding-bottom: 50px;
}

.join-square{
    height: 12vw;
    width: 35vw;
    background-color: #fff;
    position:  relative;
    top: 10vw;
    left: -2%;
    transform: rotate(355deg);
}

.join-square::after{
    content:  '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6vw 0 6vw 8vw;
    border-color: transparent transparent transparent #fff;
    position:  absolute;
    top: 0%;
    left: 100%;
}

.join-square p{
    color: #4F85A6;
    font-size: 100px;
    letter-spacing: 0.1em;
    font-family: 'Teko', sans-serif;
    text-align: center;
    padding-top: 30px;
}

.join-image img{
    width: 40vw;
    transform: rotate(355deg);
    position: relative;
    left: 50vw;
    top: -8vw;
}

.join-text{
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0 auto;
    padding-bottom: 100px;
}

.join-insta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-insta img{
    width: 80px;
    height: 80px;
    margin-right: 50px;
}

.join-insta a{
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.join-youtube{
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-youtube img{
    width: 150px;
    height: 150px;
    margin-right: 60px;
}

.join-youtube a{
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.join-youtube span{
    font-size: 16px;
}

.oblique_line-top{
    transform: rotate(150deg);
    transform-origin: 0% 0%;
    width: 50px;
    border-top: 2px solid #fff;
    margin-top: -90px;
    margin-left: -20px;
}

.oblique_line-bottom{
    transform: rotate(30deg);
    transform-origin: 0% 0%;
    width: 50px;
    border-top: 2px solid #fff;
    margin-top: 50px;
    margin-left: -90px;
}

/* footer */
footer p{
    text-align: center;
    font-size: 16px;
    color: #4F85A6;
    padding: 20px;
}

/*レスポンシブ化*/

/*スマホ縦*/
@media screen and (max-width: 480px){

    * {
        min-height: 0;
        min-width : 0;
    }

    .menu-btn{
        position: absolute;
    }
    
    .menu-content ul {
        line-height: 110px;
        letter-spacing: 0.1em;
        text-align: center;
        padding: 0;
        padding-top: 80px;
    }
    
    .menu-content ul li {
        list-style: none;
    }
    
    .menu-content ul li a {
        font-family: 'Teko', sans-serif;
        font-size: 30px;
        color:#fff;
        text-decoration: none;
        position: relative;
    }
    
    .menu-content ul li span{
        font-size: 20px;
        position: absolute;
        margin-top: -80px;
        margin-left: -34px;
        text-align: center;
    }
    
    .menu-content {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 80;
        background-color: #4F85A6;
        transition: all 0.5s;
    }
    
    #menu-btn-check:checked ~ .menu-content {
        left: 0;
    }

    .follow-us{
        display: block;
        margin: 0;
        text-align: center;
    }    

    .follow-us p{
        color: #fff;
        font-size: 18px;
        text-align: center;
        margin: 0;
    }

    .follow-insta img{
        width: 25px;
        height: 25px;
        margin-top: 20px;
        display: flex;
        margin-left: 165px;
    }
    
    .follow-youtube img{
        width: 45px;
        height: 45px;
        margin-top: -34px;
        margin-left: 205px;
        display: flex;
    }

    /* ファーストビュー */
    #home{
        height: auto;
    }

    .top-page{
        animation: bgchange 20s ease infinite;
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }
    
    @keyframes bgchange {
        0% {background-image: url(images/fv-1-sp.jpg)}
        25% {background-image: url(images/fv-1-sp.jpg)}
        50% {background-image: url(images/fv-2-sp.jpg)}
        75% {background-image: url(images/fv-3-sp.jpg)}
        100% {background-image: url(images/fv-4-sp.jpg)}
    }

    .main-logo{
        top: 0;
        left: 0;
    }

    .main-logo img{
        width: 70%;
        padding: 40% 10%;
    }

    .sub-logo-1 img{
        display: none;
    }

    .sub-logo-2 img{
        display: none;
    }

    .sub-logo-3 img{
        display: none;
    }

    /* About Shuffle */

    #about{
        height: auto;
    }

    .about-box{
        display: flex;
        flex-direction: column-reverse;
    }

    .about-text-box{
        width: 100%;
    }

    .about-title{
        font-family: 'Teko', sans-serif;
        font-size: 36px;
        color: #4F85A6;
        letter-spacing: 0.1em;
        text-align: center;
        font-style: italic;
        padding: 10%;
    }

    .about-slogan{
        font-family: 'Teko', sans-serif;
        letter-spacing: 0.3em;
        border-bottom: 5px solid rgba(79, 133, 166, 0.8);
        width: 80%;
        font-style: italic;
        font-size: 24px;
        text-align: center;
        margin: 0 auto;
    }

    .about-text{
        font-size: 10px;
        line-height: 30px;
        margin: 0;
        text-align: center;
        margin-bottom: 10%;
    }

    .about-text span{
        font-size: 16px;
    }

    .about-img-box{
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
        margin-bottom: 20%;
    }

    .about-img-square{
        width: 50vw;
        height: 20vh;
        background-color: #4F85A6;
    }

    .about-img img{
        width: 50vw;
        left: -5vw;
        padding-right: 30%;
        padding-left: 30%;
        position: relative;
        top: 5vh;
    }

    /* Summer Activities */
    #sum-activities{
        height: auto;
        background-color: #4F85A6;
        padding: 10% 0%;
    }

    .sum-activities-title-box{
        position: relative;
        width: 80%;
        margin: auto;
    }

    .sum-activities-title{
        font-family: 'Teko', sans-serif;
        font-size: 36px;
        color: #fff;
        letter-spacing: 0.1em;
        text-align: center;
        font-style: italic;
        padding: 10%;
    }

    .sum-activities-sub-title{
        font-family: 'Teko', sans-serif;
        font-size: 80px;
        color: #fff;
        letter-spacing: 0.1em;
        text-align: center;
        font-style: italic;
        padding: 0;
        opacity: 0.3;
        letter-spacing: 0.1em;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        padding-right: 5%;
        padding-left: 5%;
    }

    .images{
        margin: 0 auto;
        width: 80%;
    }

    .image img{
        width: 80vw;
        height: 40vh;
    }

    .sum-activities-text{
        background-color: #fff;
        width: 80vw;
        height: 40vh;
        text-align: center;
        margin-top: 40vh;
    }

    .sum-activities-text h3{
        font-size: 24px;
        color: #4F85A6;
        padding: 0;
        display: block;
        margin: 0;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .sum-activities-text p{
        font-size: 10px;
        line-height: 30px;
        letter-spacing: 0.1em;
        margin: 0;
    }

    .prev-arrow{
        width: 0;
        height: 0;
        margin-left: 0;
        position: absolute;
        top: 0;
    }
    
    .next-arrow{
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 10%;
    }

    /* Winter Activities */
    #win-activities{
        height: auto;
        background-image: url(/images/haikei.png);
        padding: 10% 0%;
    }

    .win-activities-title-box{
        position: relative;
    }

    .win-activities-title{
        font-family: 'Teko', sans-serif;
        font-size: 36px;
        color: #4F85A6;
        letter-spacing: 0.1em;
        text-align: center;
        font-style: italic;
        padding: 10%;
    }

    .win-activities-sub-title{
        font-family: 'Teko', sans-serif;
        font-size: 80px;
        color: #4F85A6;
        letter-spacing: 0.1em;
        text-align: center;
        font-style: italic;
        padding: 0;
        opacity: 0.3;
        letter-spacing: 0.1em;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        padding-right: 5%;
        padding-left: 5%;
    }

    .win-right{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .win-left{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .win-right-image{
        text-align: center;
    }

    .win-left-image{
        text-align: center;

    }

    .win-right-image img{
        width: 70vw;
        height: 25vh;
        border-right: 2px solid #4F85A6;
        padding-right: 10%;
        position: relative;
        top: 0px;
        left: 0px;
    }

    .win-left-image img{
        width: 70vw;
        height: 25vh;
        border-left: 2px solid #4F85A6;
        padding-left: 10%;
        position: relative;
        top: 0px;
        left: 0px;
    }

    .win-right-text-box{
        width: 70vw;
        height: 25vh;
        background-color: #4F85A6;
        margin: auto;
        background-color: transparent;
        padding-top: 10%;
    }

    .win-left-text-box{
        width: 70vw;
        height: 25vh;
        background-color: #4F85A6;
        margin: auto;
        background-color: transparent;
        padding-top: 10%;
    }

    .win-right-text-box h3{
        color: #4F85A6;
        font-size: 24px;
        margin: 0;
        text-align: center;
    }

    .win-right-text-box p{
        color: #4F85A6;
        font-size: 10px;
        line-height: 30px;
        letter-spacing: 0.1em;
        text-align: center;
    }

    .win-left-text-box h3{
        color: #4F85A6;
        font-size: 24px;
        margin: 0;
        text-align: center;
    }

    .win-left-text-box p{
        color: #4F85A6;
        font-size: 10px;
        display: flex;
        justify-content: center;
        line-height: 30px;
        letter-spacing: 0.1em;
        margin: 0;
        text-align: center;
    }

    .win-right-number{
        writing-mode: vertical-rl;
        font-size: 24px;
        font-weight: bold;
        color: #4F85A6;
        position: relative;
        top: 35vh;
        right: 5vw;
    }

    .win-left-number{
        transform:rotate(270deg); 
        font-size: 24px;
        font-weight: bold;
        color: #4F85A6;
        position: relative;
        top: 10vh;
        left: -40vw;
    }

    /* Season Movie */
    #season-movie{
        height: auto;
        background-color: #4F85A6;
    }

    .season-movie-title-box{
        position: relative;
    }

    .season-movie-title{
        font-family: 'Teko', sans-serif;
        font-size: 36px;
        color: #fff;
        letter-spacing: 0.1em;
        line-height: 40px;
        text-align: center;
        font-style: italic;
        padding: 10%;
    }

    .season-movie-image img{
        padding: 0;
        padding-left: 8%;
        padding-top: 5%;
        opacity: 0.3;
        top: 0;
        left: 0;
        width: 80vw;
        height: 20vh;
    }

    .movie{
        text-align: center;
    }

    .season-movie-movie{
        width: 90vw;
        height: 30vh;
    }

    .past-btn{
        text-align: center;
        padding: 10%;
    }

    .past-btn a{
        padding: 15px 30px;
        background-color: #fff;
        color: #4F85A6;
        border-radius: 50px;
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
    }

    /* Boast Point */
    #boast-point{
        height: auto;
    }

    .boast-point{
        padding-bottom: 50px;
    }

    .boast-point-title{
        font-family: 'Teko', sans-serif;
        font-size: 24px;
        color: #4F85A6;
        letter-spacing: 0.1em;
        text-align: center;
        font-style: italic;
        padding: 10%;
    }

    .boast-point-title span{
        font-size: 30px;
    }

    .boast-point-1{
        display: block;
        justify-content: center;
    }

    .boast-point-1-movie{
        text-align: center;
    }

    .cowday-movie{
        width: 80vw;
        height: 30vh;
    }

    .boast-point-1-text-title{
        font-size: 12px;
        text-align: center;
        border-left: 2px solid #000;
        border-bottom: none;
        width: 70vw;
        height: 5vh;
        padding-top: 10%;
        position: relative;
        top: -1vh;
        padding-bottom: 5%;
        margin: auto;
    }

    .boast-point-1-number{
        font-size: 60px;
        letter-spacing: 0.1em;
        font-family: 'Teko', sans-serif;
        color: #4F85A6;
        opacity: 0.5;
        position: relative;
        left: 70%;
        top: -12vh;
        width: 10%;
    }

    .boast-point-1-text-body{
        font-size: 10px;
        display: block;
        top: -8vh;
        text-align: center;
    }

    .boast-point-2{
        display: block;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .boast-point-2-image{
        text-align: center;
    }

    .boast-point-2-image img{
        width: 80vw;
        height: 30vh;
    }

    .boast-point-2-text-title{
        font-size: 12px;
        text-align: center;
        border-right: 2px solid #000;
        border-bottom: none;
        width: 70vw;
        height: 5vh;
        padding-top: 10%;
        position: relative;
        top: -1vh;
        padding-bottom: 5%;
        margin: auto;
    }

    .boast-point-2-number{
        font-size: 60px;
        letter-spacing: 0.1em;
        font-family: 'Teko', sans-serif;
        color: #4F85A6;
        opacity: 0.5;
        position: relative;
        left: 25%;
        top: -12vh;
        width: 10%;
    }

    .boast-point-2-text-body{
        font-size: 10px;
        display: block;
        top: -8vh;
        text-align: center;
    }

    /* Join Shuffle */
    #join{
        height: auto;
        background-color: #4F85A6;
        padding-top: 20%;
        padding-bottom: 10%;
    }

    .shape{
        display: flex;
    }

    .join-square{
        height: 12vw;
        width: 50vw;
        background-color: #fff;
        position:  relative;
        top: 0;
        left: -2%;
        transform: rotate(355deg);
    }
    
    .join-square::after{
        content:  '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6vw 0 6vw 8vw;
        border-color: transparent transparent transparent #fff;
        position:  absolute;
        top: 0%;
        left: 100%;
    }

    .join-square p{
        color: #4F85A6;
        font-size: 32px;
        letter-spacing: 0.1em;
        font-family: 'Teko', sans-serif;
        text-align: center;
        padding: 0;
    }

    .join-image{
        text-align: center;
    }

    .join-image img{
        width: 40vw;
        transform: rotate(360deg);
        position: relative;
        left: 0;
        top: 0;
    }

    .join-text{
        width: 90vw;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        letter-spacing: 0.1em;
        margin: 0 auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .join-insta{
        text-align: center;
    }

    .join-insta img{
        width: 10vw;
        height: 5%;
    }

    .join-insta a{
        text-decoration: none;
        font-size: 12px;
        color: #fff;
    }

    .join-youtube{
        text-align: center;
    }

    .join-youtube img{
        width: 17vw;
        height: 12%;
        margin-left: -34%;
    }

    .join-youtube a{
        text-decoration: none;
        font-size: 12px;
        color: #fff;
        text-align: center;
    }

    .join-youtube span{
        font-size: 6px;
    }

    .oblique_line-top{
        transform: rotate(150deg);
        transform-origin: 0% 0%;
        width: 5%;
        border-top: 2px solid #fff;
        margin: 0;
        position: relative;
        right: 15%;
        top: -3vh;
    }

    .oblique_line-bottom{
        transform: rotate(30deg);
        transform-origin: 0% 0%;
        width: 5%;
        border-top: 2px solid #fff;
        position: relative;
        right: 1%;
        top: -1vh;
    }

    /* footer */
    footer p{
        font-size: 12px;
    }

}