*{
    margin: 0;
    padding: 0;
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #4F85A6;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #4F85A6;
}

.menu-content ul {
    padding: 70px 700px;
    line-height: 110px;
    letter-spacing: 0.1em;
    text-align: center;
}

.menu-content ul li {
    list-style: none;
}

.menu-content ul li a {
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    color:#ffffff;
    text-decoration: none;
    position: relative;
}

.menu-content ul li span{
    font-size: 20px;
    position: absolute;
    margin-top: -80px;
    margin-left: -34px;
    text-align: center;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #4F85A6;
    transition: all 0.5s;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;
}

.follow-us{
    display: flex;
    margin-left: 670px;
    margin-top: -30px;
}

.follow-us p{
    font-size: 24px;
    font-family: 'Teko', sans-serif;
    color:#ffffff;
    margin-right: 50px;
    letter-spacing: 0.1em;
}

.follow-us img{
    margin-right: 30px;
}

.follow-insta img{
    width: 50px;
    height: 50px;
    margin-top: -5px;
}

.follow-youtube img{
    width: 90px;
    height: 90px;
    margin-top: -25px;
}

#fv{
    animation: bgchange 20s ease infinite;
    background-size: cover;
    height: 100vh;
}

@keyframes bgchange {
    0% {background-image: url(images/fv-1.jpg)}
    25% {background-image: url(images/fv-1.jpg)}
    50% {background-image: url(images/fv-2.jpg)}
    75% {background-image: url(images/fv-3.jpg)}
    100% {background-image: url(images/fv-4.jpg)}
}

.shuffle-logo img{
    position: absolute;
    margin-top: 100px;
    margin-left: 30px;
    width: 900px;
}

.shuffle-logo-opacity-01 img{
    position: absolute;
    opacity: 0.1;
    width: 900px;
    margin-left: -70px;
}

.shuffle-logo-opacity-02 img{
    position: absolute;
    margin-top: 280px;
    opacity: 0.1;
    width: 900px;
    margin-left: -70px;
}

.shuffle-logo-opacity-03 img{
    position: absolute;
    margin-top: 560px;
    opacity: 0.1;
    width: 900px;
    margin-left: -70px;
}

.to-join{
    position: absolute;
    left: 1350px;
    top: 850px;
    width: 250px;
    height: 40px;
    background-color: #4F85A6;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0px 0px 10px #fff;
}

.to-join:hover{
    background-color: #fff;
    color: #4F85A6;
    transition: 0.5s;
}

#about{
    height: 100vh;
}

.title-blue{
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #4F85A6;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 60px;
    font-style: italic;
    clear: both;
}

.about-shuffle{
    width: 50%;
    float: left;
}

.slogan{
    font-family: 'Teko', sans-serif;
    letter-spacing: 0.3em;
    border-bottom: 10px solid rgba(79, 133, 166, 0.8);
    width: 65%;
    margin: 60px 0px 60px 190px;
    font-style: italic;
    font-size: 42px;
}

#about p{
    margin-left: 190px;
    line-height: 40px;
}

.sub-title{
    margin-bottom: 30px;
    font-size: 24px;
}

.intro-text{
    margin-bottom: 60px;
    font-size: 18px;
}

.intro-box{
    position: relative;
    width: 700px;
    height: 500px;
}

.members-box{
    position: absolute;
    width: 560px;
    height: 400px;
    background-color: #4f85a6;
    top: 230px;
    left: 950px;
}

.all-members img{
    position: absolute;
    width: 560px;
    height: 400px;
    top: 200px;
    left: 920px;
}

#sum-activities{
    height: 100vh;
    background-color: #4F85A6;
    padding-top: 60px;
}

.sum-activities-title {
    position: relative;
    background-color: #4F85A6;
    margin: 0 auto;
    margin-top: 60px;
}

.sum-title-white {
    position: relative;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    font-style: italic;
}

.sum-title-white::before {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 200px;
    content: 'SUMMER';
    opacity: 0.3;
    letter-spacing: 0.1em;
}

.images{
    padding-top: 80px;
    width: 1000px;
    height: 710px;
    margin: 0 auto;
}

.image{
    margin: 0 auto;
}

.sum-activities-image img{
    width: 500px;
    height: 600px;
    display: block;
    float: left;
}

.sum-activities-text-box{
    width: 500px;
    height: 600px;
    background-color: #fff;
    margin-left: 500px;
}

.sum-activities-text-box h3{
    font-size: 40px;
    color: #4F85A6;
    padding-top: 50px;
    padding-left: 40px;

}

.sum-activities-text-box p{
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.1em;
    margin-top: 100px;
    margin-left: 40px;
}

.prev-arrow{
    width: 100px;
    height: 100px;
    transform: rotate(180deg);
    margin-left: -150px;
    position: absolute;
    top: 330px;
    color: #fff;
}

.next-arrow{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 330px;
    left: 1050px;
}

#win-activities{
    padding-top: 60px;
    background-image: url(haikei.png);
}

.win-activities-title {
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 150px;
}

.win-title-blue {
    position: relative;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #4F85A6;
    letter-spacing: 0.1em;
    text-align: center;
    font-style: italic;
}

.win-title-blue::before {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    color: #4F85A6;
    font-size: 200px;
    content: 'WINTER';
    opacity: 0.3;
    letter-spacing: 0.1em;
}

.training_camp{
    position: relative;
    width: 900px;
    height: 500px;
}

.camp-box-text-right{
    text-align: left;
    letter-spacing: 0.1em;
    padding: 30px;
    position: absolute;
    top: 80px;
    left: 290px;
    width:530px;
    height:280px;
    background: #4F85A6;
}

.camp-box-text-right h3{
    font-size: 30px;
    color: #fff;
    margin: 20px 0px 30px 10px;
}

.camp-box-text-right p{
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    margin-left: 10px;
}

.camp-box-img-right img{
    position: absolute;
    top: 0px;
    left: 750px;
    width: 520px;
    height: 390px;
    border-right: 2px solid #4F85A6;
    padding-right: 150px;
}

.camp-box-text-left{
    text-align: left;
    letter-spacing: 0.1em;
    padding: 30px;
    position: absolute;
    top: 80px;
    left: 800px;
    width:530px;
    height:280px;
    background: #4F85A6;
}

.camp-box-text-left h3{
    font-size: 30px;
    color: #fff;
    margin: 20px 0px 30px 130px;
}

.camp-box-text-left p{
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    margin-left: 130px;
}

.camp-box-img-left img{
    position: absolute;
    top: 0px;
    left: 250px;
    width: 520px;
    height: 390px;
    border-left: 2px solid #4F85A6; 
    padding-left: 150px;
}

.right_number{
    writing-mode: vertical-rl;
    margin-left: 1397px;
    font-size: 32px;
    font-weight: bold;
    color: #4F85A6;
    padding-top: 420px;
}

.left_number{
    width: 100px;
    transform:rotate(270deg); 
    font-size: 32px;
    font-weight: bold;
    color: #4F85A6;
    padding-top: 780px;
    margin-left: -190px;
}

#season-movie{
    background-color: #4F85A6;
    width: 100vw;
    height: 100vh;
}

.movie-title{
    position: relative;
}

.title-white{
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 60px;
    font-style: italic;
    padding-top: 60px;
    line-height: 70px;
    position: relative;
}

.movie-title img{
    position: absolute;
    opacity: 0.1;
    top: -10px;
    left: 250px;
    width: 1100px;
    z-index: 10;
}

.season-movie{
    position: absolute;
    padding: 60px 380px;
    width: 900px;
    height: 500px;
    z-index: 20;
}

.past-movie a{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #4F85A6;
    background-color: #fff;
    padding: 20px 100px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    margin-top: 570px;
    margin-left: -250px;
}

.past-movie a:hover{
    padding: 20px 105px;
    transition: 0.5s;
}

.past-movie{
    text-align: center;
    margin-top: 30px;
}

#boast-point{
    width: 100vw;
    height: 100vh;
}

.cowday-movie{
    width: 540px;
    height: 300px;
    margin: 60px 200px;
}

.boast-01{
    display: flex;
}

.boast-01-box{
    margin-top: 60px;
    position: relative;
}

.boast-point-01{
    width: 40vw;
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid #000;
    position: absolute;
    top: 10px;
    left: -200px;
    padding-bottom: 30px;
}

.boast-point-01-text{
    font-size: 20px;
    margin-top: 170px;
    line-height: 40px;
}

.boast-number-01{
    font-size: 150px;
    letter-spacing: 0.1em;
    font-family: 'Teko', sans-serif;
    color: #4F85A6;
    opacity: 0.5;
    position: absolute;
    top: -70px;
    left: 260px;
}

.boast-02{
    display: flex;
    margin-bottom: 60px;
}

.boast-02 img{
    width: 540px;
    height: 300px;
    margin-top: 30px;
    margin-left: 140px;
}

.boast-02-box{
    margin-top: 60px;
    position: relative;
}

.boast-point-02{
    width: 40vw;
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid #000;
    position: absolute;
    padding-bottom: 30px;
    left: 280px;
}

.boast-point-02-text{
    font-size: 20px;
    margin-top: 170px;
    margin-left: 400px;
    line-height: 40px;
}

.boast-number-02{
    font-size: 150px;
    letter-spacing: 0.1em;
    font-family: 'Teko', sans-serif;
    color: #4F85A6;
    opacity: 0.5;
    position: absolute;
    top: -80px;
    left: 390px;
}

#join{
    width: 100vw;
    height: 100vh;
    background-color: #4F85A6;
}

.join-logo{
    position: absolute;
    margin-top: 200px;
    margin-left: -10px;
    width: 700px;
    height: 200px;
    background-color: #fff;
    transform: rotate(355deg);
}

.join-logo p{
    color: #4F85A6;
    font-size: 100px;
    letter-spacing: 0.1em;
    font-family: 'Teko', sans-serif;
    text-align: center;
    margin-top: 30px;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 141px solid transparent;
    border-bottom: 141px solid transparent;
    border-right: 141px solid #fff;
    transform: rotate(45deg);
    margin-left: 509px;
    margin-top: -194px;
}

.join-logo img{
    width: 700px;
    height: 270px;
    transform: rotate(360deg);
    margin-left: 850px;
    margin-top: -180px;
}

.join-shuffle-text{
    width: 50vw;
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 450px;
    letter-spacing: 0.1em;
    margin: 0 auto;
}

.join-shuffle-text-under{
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    letter-spacing: normal;
    margin-top: 5px;
    color: #fff;
}

.board-01 img{
    width: 250px;
    height: 250px;
    margin-left: 100px;
}

.board-02 img{
    position: absolute;
    width: 250px;
    height: 250px;
    margin-left: 1250px;
    padding-top: 400px;
}

.app-icon-insta{
   display: flex;
   margin-left: 630px;
   margin-top: -200px;
}

.app-icon-insta img{
    position: absolute;
    width: 80px;
    height: 80px;
}

.app-icon-insta a{
    position: absolute;
    text-decoration: none;
    color: #fff;
    margin-left: 150px;
    margin-top: 20px;
    font-size: 24px;
}

.app-icon-youtube{
    display: flex;
    margin-left: 595px;
    margin-top: 100px;
 }

.app-icon-youtube img{
    width: 150px;
    height: 150px;
}

.app-icon-youtube a{
    position: absolute;
    text-decoration: none;
    color: #fff;
    margin-top: 55px;
    margin-left: 200px;
    font-size: 24px;
    text-align: center;
    line-height: 20px;
}

.app-icon-youtube span{
    font-size: 12px;
}

.oblique_line-top{
    transform: rotate(150deg);
    transform-origin: 0% 0%;
    width: 50px;
    border-top: 2px solid #fff;
    margin-top: 20px;
    margin-left: 40px;
}

.oblique_line-bottom{
    transform: rotate(30deg);
    transform-origin: 0% 0%;
    width: 50px;
    border-top: 2px solid #fff;
    margin-top: 100px;
    margin-left: -90px;
}

footer p{
    text-align: center;
    font-size: 16px;
    color: #4F85A6;
    padding: 20px;
}

/*レスポンシブ化*/

/*スマホ縦*/
@media screen and (max-width: 480px){

    * {
        min-height: 0;
        min-width : 0;
    }

    #fv{
        animation: bgchange 20s ease infinite;
        background-size: cover;
        height: 100vh;
    }
    
    @keyframes bgchange {
        0% {background-image: url(images/fv-1-sp.jpg)}
        25% {background-image: url(images/fv-1-sp.jpg)}
        50% {background-image: url(images/fv-2-sp.jpg)}
        75% {background-image: url(images/fv-3-sp.jpg)}
        100% {background-image: url(images/fv-4-sp.jpg)}
    }

    .menu-btn{
        position: absolute;
    }
    
    .menu-content ul {
        line-height: 110px;
        letter-spacing: 0.1em;
        text-align: center;
        padding: 0;
        padding-top: 80px;
    }
    
    .menu-content ul li {
        list-style: none;
    }
    
    .menu-content ul li a {
        font-family: 'Teko', sans-serif;
        font-size: 30px;
        color:#000;
        text-decoration: none;
        position: relative;
    }
    
    .menu-content ul li span{
        font-size: 20px;
        position: absolute;
        margin-top: -80px;
        margin-left: -34px;
        text-align: center;
    }
    
    .menu-content {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 80;
        background-color: #4F85A6;
        transition: all 0.5s;
    }
    
    #menu-btn-check:checked ~ .menu-content {
        left: 0;
    }

    .follow-us{
        display: block;
        margin: 0;
        text-align: center;
    }    

    .follow-us p{
        color: #000;
        font-size: 18px;
        text-align: center;
        margin: 0;
    }

    .follow-insta img{
        width: 25px;
        height: 25px;
        margin-top: 20px;
        display: flex;
        margin-left: 165px;
    }
    
    .follow-youtube img{
        width: 45px;
        height: 45px;
        margin-top: -34px;
        margin-left: 205px;
        display: flex;
    }

    .to-join{
        display: none;
    }

    .shuffle-logo img{
        width: 85vw;
        height: 22vh;
        margin-top: 150px;
    }

    .shuffle-logo-opacity-01 img{
        display: none;
    }

    .shuffle-logo-opacity-02 img{
        display: none;
    }

    .shuffle-logo-opacity-03 img{
        display: none;
    }

    #about{
        width: 100vw;
        height: 110vh;
    }

    .title-blue{
        font-size: 36px;
    }

    .slogan{
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
        border-bottom: 5px solid #4F85A6;
        margin-top: 70vw;
        margin-left: 40px;
        width: 80vw;
    }

    .sub-title{
        font-size: 12px;
        width: 100vw;
        text-align: center;
        padding-top: 20px;
    }

    .intro-box{
        width: 100vw;
        height: 0;
    }

    .intro-text{
        font-size: 10px;
        width: 100vw;
        text-align: center;
    }

    #about p{
        margin: 0 auto;
        line-height: 30px;
    }

    .all-members img{
        top: 0;
        left: 0;
        width: 85vw;
        height: 25vh;
        margin: -10px 20px;
        position: absolute;
    }

    .members-box{
        width: 85vw;
        height: 25vh;
        top: 0;
        left: 0;
        margin: 40px 35px;
        position: relative;
    }

    #sum-activities{
        height: 110vh;
    }

    .sum-title-white{
        font-size: 36px;
        margin-top: -50px;
    }

    .sum-title-white::before {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 80px;
        content: 'SUMMER';
        opacity: 0.3;
        letter-spacing: 0.1em;
    }

    .images{
        max-width: 100%;
        height: auto;
        padding-top: 80px;
        width: 75vw;
        height: 90vh;
        margin: 0 auto;
        box-sizing:border-box;
    }
    
    .image{
        margin: 0 auto;
        display: block;
    }
    
    .sum-activities-image img{
        width: 75vw;
        height: 75vw;
        display: block;
    }
    
    .sum-activities-text-box{
        width: 75vw;
        height: 35vh;
        background-color: #fff;
        margin-top: 300px;
        margin-left: 0;
        display: block;
    }
    
    .sum-activities-text-box h3{
        font-size: 24px;
        color: #4F85A6;
        padding-top: 30px;
        padding-left: 0;
        text-align: center;
    }
    
    .sum-activities-text-box p{
        font-size: 10px;
        line-height: 30px;
        margin-top: 10px;
        margin-left: 0;
        text-align: center;
    }

    .prev-arrow{
        display: none;
    }
    
    .next-arrow{
        left: 0;
        top: 0;
        display: none;
    }

    #win-activities{
        background-image: none;
        height: 210vh;
    }

    .haikei{
        background-image: url(haikei.png);
        height: 210vh;
    }

    .win-title-blue{
        font-size: 36px;
        margin-top: -50px;
        margin-bottom: -100px;
    }

    .win-title-blue::before{
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        color: #4F85A6;
        font-size: 80px;
        content: 'WINTER';
        opacity: 0.3;
        letter-spacing: 0.1em;
    }

    .training_camp{
        position: relative;
        width: 85vw;
        height: 45vh;
        padding-right: 7.5%;
        padding-left: 7.5%;
        display: block;
    }

    .camp-box-img-left img{
        display: block;
        width: 60vw;
        height: 20vh;
        top: 0;
        padding: 0;
        position: relative;
        padding-left: 10%;
        left: 5%;
        margin-top: 30px;
    }

    .camp-box-img-right img{
        display: block;
        width: 60vw;
        height: 20vh;
        top: 0;
        padding: 0;
        position: relative;
        padding-right: 10%;
        left: 15%;
        margin-top: 30px;
    }

    .camp-box-text-left{
        background-color: transparent;
        width: 100vw;
        height: 20vh;
        top: 0;
        left: 0;
        padding: 0;
        padding-top: 40%;
        position: absolute;
    }

    .camp-box-text-right{
        background-color: transparent;
        width: 100vw;
        height: 20vh;
        top: 0;
        left: 0;
        padding: 0;
        padding-top: 40%;
        position: absolute;
    }

    .camp-box-text-left h3{
        font-size: 20px;
        color: #4F85A6;
        text-align: center;
        margin-left: 0;
    }

    .camp-box-text-left p{
        font-size: 10px;
        color: #4F85A6;
        text-align: center;
        line-height: 20px;
        margin-left: 0;
    }

    .camp-box-text-right h3{
        font-size: 20px;
        color: #4F85A6;
        text-align: center;
    }

    .camp-box-text-right p{
        font-size: 10px;
        color: #4F85A6;
        line-height: 20px;
        text-align: center;
    }

    .right_number{
        font-size: 16px;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 85%;
        top: 55%;
    }

    .left_number{
        font-size: 16px;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 0;
        top: 60%;
        left: 10%;
    }

    #season-movie{
        height: 60vh;
    }

    .title-white{
        font-size: 28px;
        line-height: 30px;
    }

    .movie-title img{
        opacity: 0.1;
        top: 20px;
        left: 0;
        padding-left: 30px;
        width: 80vw;
        margin: 0 auto;
    }

    .movie{
        position: relative;
        width: 100%;
        height: 50%;

    }

    .season-movie{
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: cover;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 20vh;
    }

    .past-movie a{
        font-size: 12px;
        font-weight: bold;
        color: #4F85A6;
        background-color: #fff;
        padding: 10px 30px;
        border-radius: 50px;
        text-decoration: none;
        text-align: center;
        margin: 0;
        width: 200px;
        left: 18%;
    }
    
    .past-movie a:hover{
        padding: 20px 40px;
        transition: 0.5s;
    }
    
    .past-movie{
        text-align: center;
        margin-top: 30px;
    }

    #boast-point{
       height: 120vh;
    }

    .title-blue{
        font-size: 28px;
    }

    .board-01{
        width: 100vw;
        position: relative;
    }

    .boast-point-01{
        font-size: 12px;
        width: 50vw;
        height: 8vh;
        top: 130px;
        left: -250px;
        display: flex;
        align-items: center;
        border-left: 3px solid #000;
        border-bottom: none;
        padding-left: 30px;
        padding-top: 50px;
    }

    .boast-point-01-text{
        font-size: 10px;
        width: 50vw;
        text-align: center;
        position: absolute;
        top: 130px;
        left: -240px;
        padding-bottom: 100px;
        line-height: 20px;
    }

    .boast-number-01{
        font-size: 60px;
        position: absolute;
        top: 160px;
        left: -80px;
    }

    .cowday-movie{
        width: 70vw;
        height: 20vh;
        margin: 0;
        margin-left: 60px;
        margin-top: 20px;
    }

    .boast-02 img{
        width: 70vw;
        height: 20vh;
        margin-top: 300px;
        margin-left: 60px;
    }

    .boast-point-02{
        font-size: 12px;
        position: absolute;
        top: 400px;
        left: 90px;
        width: 170px;
        height: 50px;
        display: flex;
        align-items: center;
        border-right: 3px solid #000;
        border-bottom: none;
        padding-left: 50px;
        padding-top: 50px;
    }

    .boast-point-02-text{
        font-size: 10px;
        width: 300px;
        position: absolute;
        top: 380px;
        left: -350px;
        text-align: center;
        line-height: 20px;
    }

    .boast-number-02{
        font-size: 60px;
        position: absolute;
        top: 420px;
        left: 100px;
    }

    #join{
        height: 600px;
    }

    .join-logo{
        width: 65vw;
        height: 70px;
        margin-top: 10%;
    }

    .join-logo p{
        font-size: 36px;
        margin-top: 15px;
        margin-left: 20px;
    }

    .join-logo img{
        width: 50vw;
        height: 10vh;
        margin: 0;
        position: absolute;
        padding-top: 80px;
        left: 40%;
        top: 50%;
        transform: rotate(5deg);
    }

    .triangle{
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-right: 50px solid #fff;
        transform: rotate(45deg);
        position: absolute;
        margin: 0;
        left: 73%;
        top: -10%;
    }

    .join-shuffle-text{
        font-size: 16px;
        width: 100vw;
        padding-top: 75%;
    }

    .board-01{
        display: none;
    }

    .board-02{
        display: none;
    }

    .app-icon-insta img{
        width: 50px;
        height: 50px;
        margin-left: -540px;
        margin-top: 250px;
    }

    .app-icon-youtube img{
        width: 85px;
        height: 95px;
        margin-left: -522px;
        margin-top: 220px;
    }

    .app-icon-insta a{
        font-size: 12px;
        color: #fff;
        margin-left: -460px;
        margin-top: 265px;
    }

    .app-icon-youtube a{
        font-size: 12px;
        color: #fff;
        width: 150px;
        margin-left: -420px;
        margin-top: 250px;
    }

    .app-icon-youtube span{
        font-size: 6px;
    }

    .oblique_line-top{
        transform: rotate(150deg);
        transform-origin: 0% 0%;
        width: 20px;
        border-top: 2px solid #fff;
        margin-top: 240px;
        margin-left: 20px;
    }
    
    .oblique_line-bottom{
        transform: rotate(30deg);
        transform-origin: 0% 0%;
        width: 20px;
        border-top: 2px solid #fff;
        margin-top: 285px;
        margin-left: -37px;
    }

    footer p{
        font-size: 12px;
    }


}
