*{
    margin: 0;
    padding: 0;
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #4F85A6;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #4F85A6;
}

.menu-content ul {
    padding: 70px 700px;
    line-height: 110px;
    letter-spacing: 0.1em;
    text-align: center;
}

.menu-content ul li {
    list-style: none;
}

.menu-content ul li a {
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    color:#ffffff;
    text-decoration: none;
    position: relative;
}

.menu-content ul li span{
    font-size: 20px;
    position: absolute;
    margin-top: -80px;
    margin-left: -34px;
    text-align: center;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #4F85A6;
    transition: all 0.5s;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;
}

.follow-us{
    display: flex;
    margin-left: 670px;
    margin-top: -30px;
}

.follow-us p{
    font-size: 24px;
    font-family: 'Teko', sans-serif;
    color:#ffffff;
    margin-right: 50px;
    letter-spacing: 0.1em;
}

.follow-us img{
    margin-right: 30px;
}

.follow-insta img{
    width: 50px;
    height: 50px;
    margin-top: -5px;
}

.follow-youtube img{
    width: 90px;
    height: 90px;
    margin-top: -25px;
}

#fv{
    height: 100vh;
    background-image: url(top.png);
    background-size: cover;
}

.shuffle-logo img{
    position: absolute;
    margin-top: 100px;
    margin-left: 30px;
    width: 900px;
}

.shuffle-logo-opacity-01 img{
    position: absolute;
    opacity: 0.1;
    width: 900px;
    margin-left: -70px;
}

.shuffle-logo-opacity-02 img{
    position: absolute;
    margin-top: 280px;
    opacity: 0.1;
    width: 900px;
    margin-left: -70px;
}

.shuffle-logo-opacity-03 img{
    position: absolute;
    margin-top: 560px;
    opacity: 0.1;
    width: 900px;
    margin-left: -70px;
}

#about{
    height: 100vh;
}

.title-blue{
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #4F85A6;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 60px;
    font-style: italic;
    clear: both;
}

.about-shuffle{
    width: 50%;
    float: left;
}

.slogan{
    font-family: 'Teko', sans-serif;
    letter-spacing: 0.3em;
    border-bottom: 10px solid rgba(79, 133, 166, 0.8);
    width: 80%;
    margin: 60px 0px 60px 140px;
    font-style: italic;
    font-size: 42px;
}

#about p{
    margin-left: 140px;
    line-height: 40px;
}

.sub-title{
    margin-bottom: 30px;
    font-size: 24px;
}

.intro-text{
    margin-bottom: 60px;
}

.intro-box{
    position: relative;
    width: 700px;
    height: 500px;
}

.members-box{
    position: absolute;
    width: 560px;
    height: 400px;
    background-color: #4f85a6;
    top: 230px;
    left: 950px;
}

.all-members img{
    position: absolute;
    width: 560px;
    height: 400px;
    top: 200px;
    left: 920px;
}

#sum-activities{
    height: 100vh;
    background-color: #4F85A6;
    padding-top: 60px;
}

.sum-activities-title {
    position: relative;
    background-color: #4F85A6;
    margin: 0 auto;
    margin-top: 60px;
}

.sum-title-white {
    position: relative;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    font-style: italic;
}

.sum-title-white::before {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 200px;
    content: 'SUMMER';
    opacity: 0.3;
    letter-spacing: 0.1em;
}

.images{
    padding-top: 80px;
    width: 1000px;
    height: 700px;
    margin: 0 auto;
}

.sum-event-text{
    width: 500px;
    height: 300px;
    background-color: #fff;
    padding: 50px;
}

.sum-event-text h3{
    color: #4F85A6;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sum-event-text p{
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 40px;
}

#win-activities{
    padding-top: 60px;
    background-image: url(雪.png);
}

.win-activities-title {
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 150px;
}

.win-title-blue {
    position: relative;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #4F85A6;
    letter-spacing: 0.1em;
    text-align: center;
    font-style: italic;
}

.win-title-blue::before {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    color: #4F85A6;
    font-size: 200px;
    content: 'WINTER';
    opacity: 0.3;
    letter-spacing: 0.1em;
}

.training_camp{
    position: relative;
    width: 900px;
    height: 500px;
}

.camp-box-text-right{
    text-align: left;
    letter-spacing: 0.1em;
    padding: 30px;
    position: absolute;
    top: 80px;
    left: 290px;
    width:530px;
    height:280px;
    background: #4F85A6;
}

.camp-box-text-right h3{
    font-size: 30px;
    color: #fff;
    margin: 20px 0px 30px 10px;
}

.camp-box-text-right p{
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    margin-left: 10px;
}

.camp-box-img-right img{
    position: absolute;
    top: 0px;
    left: 750px;
    width: 520px;
    height: 390px;
    border-right: 2px solid #4F85A6;
    padding-right: 150px;
}

.camp-box-text-left{
    text-align: left;
    letter-spacing: 0.1em;
    padding: 30px;
    position: absolute;
    top: 80px;
    left: 800px;
    width:530px;
    height:280px;
    background: #4F85A6;
}

.camp-box-text-left h3{
    font-size: 30px;
    color: #fff;
    margin: 20px 0px 30px 130px;
}

.camp-box-text-left p{
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    margin-left: 130px;
}

.camp-box-img-left img{
    position: absolute;
    top: 0px;
    left: 250px;
    width: 520px;
    height: 390px;
    border-left: 2px solid #4F85A6; 
    padding-left: 150px;
}

.right_number{
    writing-mode: vertical-rl;
    margin-left: 1397px;
    font-size: 32px;
    font-weight: bold;
    color: #4F85A6;
    padding-top: 420px;
}

.left_number{
    width: 100px;
    transform:rotate(270deg); 
    font-size: 32px;
    font-weight: bold;
    color: #4F85A6;
    padding-top: 780px;
    margin-left: -190px;
}

#season-movie{
    background-color: #4F85A6;
    width: 100vw;
    height: 100vh;
}

.movie-title{
    position: relative;
}

.title-white{
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 60px;
    font-style: italic;
    padding-top: 60px;
    line-height: 70px;
    position: relative;
}

.movie-title img{
    position: absolute;
    opacity: 0.1;
    top: -10px;
    left: 250px;
    width: 1100px;
    z-index: 10;
}

.season-movie{
    position: absolute;
    padding: 60px 380px;
    width: 900px;
    height: 500px;
    z-index: 20;
}

.past-movie a{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #4F85A6;
    background-color: #fff;
    padding: 20px 100px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    margin-top: 570px;
    margin-left: -250px;
}

.past-movie a:hover{
    padding: 20px 105px;
    transition: 0.5s;
}

.past-movie{
    text-align: center;
    margin-top: 30px;
}

#boast-point{
    width: 100vw;
    height: 100vh;
}

.cowday-movie{
    width: 540px;
    height: 300px;
    margin: 60px 200px;
}

.boast-01{
    display: flex;
}

.boast-01-box{
    margin-top: 60px;
    position: relative;
}

.boast-point-01{
    width: 40vw;
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid #000;
    position: absolute;
    top: 10px;
    left: -200px;
    padding-bottom: 30px;
}

.boast-point-01-text{
    font-size: 20px;
    margin-top: 170px;
    line-height: 40px;
}

.boast-number-01{
    font-size: 150px;
    letter-spacing: 0.1em;
    font-family: 'Teko', sans-serif;
    color: #4F85A6;
    opacity: 0.5;
    position: absolute;
    top: -70px;
    left: 250px;
}

.boast-02{
    display: flex;
    margin-bottom: 60px;
}

.boast-02 img{
    width: 540px;
    height: 300px;
    margin-top: 30px;
    margin-left: 140px;
}

.boast-02-box{
    margin-top: 60px;
    position: relative;
}

.boast-point-02{
    width: 40vw;
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid #000;
    position: absolute;
    padding-bottom: 30px;
    left: 280px;
}

.boast-point-02-text{
    font-size: 20px;
    margin-top: 170px;
    margin-left: 400px;
    line-height: 40px;
}

.boast-number-02{
    font-size: 150px;
    letter-spacing: 0.1em;
    font-family: 'Teko', sans-serif;
    color: #4F85A6;
    opacity: 0.5;
    position: absolute;
    top: -80px;
    left: 390px;
}

#join{
    width: 100vw;
    height: 100vh;
    background-color: #4F85A6;
}

.join-logo{
    position: absolute;
    margin-top: 200px;
    margin-left: -10px;
    width: 700px;
    height: 200px;
    background-color: #fff;
    transform: rotate(355deg);
}

.join-logo p{
    color: #4F85A6;
    font-size: 100px;
    letter-spacing: 0.1em;
    font-family: 'Teko', sans-serif;
    text-align: center;
    margin-top: 30px;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 141px solid transparent;
    border-bottom: 141px solid transparent;
    border-right: 141px solid #fff;
    transform: rotate(45deg);
    margin-left: 509px;
    margin-top: -194px;
}

.join-logo img{
    width: 700px;
    height: 270px;
    transform: rotate(360deg);
    margin-left: 850px;
    margin-top: -180px;
}

.join-shuffle-text{
    width: 50vw;
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 450px;
    letter-spacing: 0.1em;
    margin: 0 auto;
}

.board-01 img{
    width: 250px;
    height: 250px;
    margin-left: 100px;
}

.board-02 img{
    position: absolute;
    width: 250px;
    height: 250px;
    margin-left: 1250px;
    padding-top: 400px;
}

.app-icon-insta{
   display: flex;
   margin-left: 630px;
   margin-top: -200px;
}

.app-icon-insta img{
    position: absolute;
    width: 80px;
    height: 80px;
}

.app-icon-insta a{
    position: absolute;
    text-decoration: none;
    color: #fff;
    margin-left: 150px;
    margin-top: 20px;
    font-size: 24px;
}

.app-icon-youtube{
    display: flex;
    margin-left: 595px;
    margin-top: 100px;
 }

.app-icon-youtube img{
    width: 150px;
    height: 150px;
}

.app-icon-youtube a{
    position: absolute;
    text-decoration: none;
    color: #fff;
    margin-top: 55px;
    margin-left: 200px;
    font-size: 24px;
    text-align: center;
    line-height: 20px;
}

.app-icon-youtube span{
    font-size: 12px;
}

.oblique_line-top{
    transform: rotate(150deg);
    transform-origin: 0% 0%;
    width: 50px;
    border-top: 2px solid #fff;
    margin-top: 20px;
    margin-left: 40px;
}

.oblique_line-bottom{
    transform: rotate(30deg);
    transform-origin: 0% 0%;
    width: 50px;
    border-top: 2px solid #fff;
    margin-top: 100px;
    margin-left: -90px;
}

footer p{
    text-align: center;
    font-size: 16px;
    color: #4F85A6;
    padding: 20px;
}


